.Botao_Parte_01{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(85, 55, 197);
    border: 1px black solid;
}
.Botao_Parte_01{
    left: 1%;
}

.Botao_Parte_02 {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 6px;
    margin-top: 7px;
    border-radius: 50%;
    background-color: purple;
    border: 1px black solid;
}
.Botao_Parte_02{
    left: 9px;
    top: 6px;
}

.Botao_Parte_01:hover , .Botao_Parte_02:hover{
    background-color:rgb(55, 23, 172) ;
}

.bob{
    position: absolute;
    left:40%;
    top:300px;
    
}

.frase{
    font-size: 25px;
    position: absolute;
    left:1%;
    top:8%;
}

.troll{
    position: absolute;
    left: 47%;
    top: 20%;
}

